---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles.current_members %}
      <h2>Current Lab Members</h2>
      {% for profile in page.profiles.current_members %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}


        {% if page.profiles.friends_of_the_lab %}
      <h2>Friends of the Lab</h2>
      <div class="row">
        {% for profile in page.profiles.friends_of_the_lab %}
          <div class="col-md-4">
            <div class="profile text-center">
              {% if profile.image %}
                {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
                {% if profile.image_circular %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                {% else %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                {% endif %}
                  <img src="{{ site.baseurl }}/{{ profile_image_path }}" class="{{ profile_image_class }}" alt="{{ profile.name }}" style="max-width: 150px; height: auto;">
              {% endif %}
              <h4>{{ profile.name }}</h4>
              <p style="color: #007acc;">{{ profile.role }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}


    {% if page.profiles.lab_alumni %}
      <h2>Lab Alumni</h2>
      {% for profile in page.profiles.lab_alumni %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>
       </div>
    {% endif %}
  </article>
</div>
